:root {
    --theme-color: #388e3c;
    --red-theme-color: red;
    --alt-theme-color: #1b5e20;
    --grey-theme-color: #9e9e9e;
    --background-color: white;
    --shake-distance: 0.5em;
}

html {
    font-family: 'Merriweather', serif;
}

body, html {
    margin: 0; /*100vh creates scrollbar otherwise*/
}


/*CENTERING//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*dont apply these to body*/
/*the container in which the child containers should be centered */
.center-parent {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0px 10px 0px 10px; /*prevent text to touch border on smaller screens*/
}

/*same but for horizontal center only*/
.center-horizontal-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

/*items in this container will be put horizontal, aligning left*/
.columns {
    display: flex;
    flex-direction: column;
}

/*the childs to be centered (not needed)*/
.center-child {
    /*border: 1px solid black;*/
}


/*ELEMENT COLORS//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*text which displays a warning*/
.text-warning {
    color: red;
}

.text-ok {
    color: var(--theme-color);
}

.text-grey {
    color: grey;
}

/*subtitle under h1 header*/
.subtitle {
    font-size: 12px;
    margin-top: -20px;
    font-style: italic;

}

/*all links on the site*/
.link {
    color: var(--theme-color);
    text-decoration: none;
}

/*when a link is hovered*/
.link:hover {
    text-decoration: underline;
}

/*button with a link*/
.link-button {
    border: 2px solid var(--theme-color);
    background-color: var(--theme-color);
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.link-button-red {
    border: 2px solid var(--red-theme-color);
    background-color: var(--red-theme-color);
}

.neutral-button {
    border: 2px solid var(--grey-theme-color);
    background-color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}


/*button with a link with inverse colors (apply link-button first)*/
.link-button-inverse {
    color: var(--theme-color);
    background-color: var(--background-color);
}


/*music upload button*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn {
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    background-color: var(--background-color);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.tap-button {
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    background-color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

/*flex table*/

.flex-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.flex-table-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flex-table-first-row {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.flex-table-cell {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
}

/*keybindings*/
.footer-keybindings {
    display: flex;
}

.footer-keybinding {
    display: flex;
    margin: 10px;
    border: 2px solid black;
}

.footer-keybinding-key {
    margin: 5px;
    border: 2px solid black;
    padding: 4px;
}

.footer-keybinding-folder {
    margin: 5px;
    border: 2px solid black;
    padding: 4px;
}

.selected-footer-keybinding {
    background-color: var(--theme-color);
}
.selected-footer-keybinding-item{
    background-color: greenyellow;
}

/*shake animation*/
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateY(0); }
    20% { transform: translateY(calc(var(--shake-distance) * -1)); }
    40% { transform: translateY(var(--shake-distance)); }
    60% { transform: translateY(calc(var(--shake-distance) * -1)); }
    80% { transform: translateY(var(--shake-distance)); }
    100% { transform: translateY(0); }
}

